name: Build
on:
  push:
    branches: [master]
  pull_request:
jobs:
  run-tests:
    strategy:
      matrix:
        go-version:
          - 1.17.x
          - 1.18.x
          - 1.19.x

    name: run-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3.3.0
        id: go
        with:
          stable: false
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v3.1.0

      - name: run tests
        run: go test -vet all -race ./...

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0

      - uses: golangci/golangci-lint-action@v3.3.0
